body {
    margin: 0;
    padding: 0;
   
    
    font-size: 1.3rem;
    
    }

    :root {
        --primary-color: #4B0082;
    --secondary-color: #008080;/* */
    --hover-color:#36454F;
    }
.logo{
    font-family: Calibri, sans-serif;
    font-size: 1.6rem;
    margin-top: 0.51rem;
    font-weight:bold;
    color: #4B0082!important;
}
 .logo .Hub{
    color: rgb(255, 255, 249);
}
a{
    text-decoration: none;
}
    
    h2 {
        text-align: center;
        margin-top: 30px;
    }
    
    form { 
        font-family: monospace;
        width: 24rem;
        margin-left: 0rem;
        background-color: var(--secondary-color);
        padding-left: 1rem;
        padding-top: 1rem;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        
        
    }
    #popup{
        padding-top: 10rem;
    }
    
label {
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select,
input[type="number"],
input[type="tel"],
input[type="file"] {
    width: 20rem;
    padding: 10px;
    margin-bottom: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #008052;
}
/* Style the file input */
input[type="file"] {
    display: none; /* Hide the default file input */
}

/* Style the custom file input container */
#roomlocation,
.custom-file-input {
    position: relative;
    width: 20rem;
    height: 40px;
    margin-bottom: 0.9rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    overflow: hidden;
}

/* Style the custom file input button */
.custom-file-input-btn {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    padding: 10px;
    background-color: #5d645e;
    color: white;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

/* Style the custom file input button on hover */
.custom-file-input-btn:hover {
    background-color: var(--hover-color);
}

input[type="submit"],
button {
    width: 22rem;
    background-color: #5d645e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: var(--hover-color);
}

.checkbox-container {
    margin-bottom: 15px;
}

.checkbox-container label {
    font-weight: normal;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

#roomlocation {
    position: sticky;
    padding: 13px 80px;
    background-color: #5d645e;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: large;
    z-index: 1;
}

#roomlocation:hover {
    background-color: var(--hover-color);
}


.add-location-container {
    position: absolute;
   
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}

.registration {
    padding-top: 10rem;
}
#addnav{
    z-index: 20;
}
