.content{
   padding-top:10rem;
   width: 70rem;
margin-left: 15rem;
background-color: rgba(110, 98, 98, 0.5);
padding-right: 1rem;
padding-left: 1rem;
padding-bottom: 3rem;
}
.WHERE{
    text-align: center;
}
.Home_1st{
    text-align: center;

}